.component__selection-form {
  .selection-form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .input_quiz-amount {
      width: 350px;
      margin: 0 auto;
      padding: 10px;
      background-color: goldenrod;
      border: 1px solid rgb(172, 130, 24);
      color: rgb(41, 41, 41);
      font-weight: bold;
      font-size: 16px;
      text-align: center;

      &::placeholder {
        color: rgb(41, 41, 41);
        opacity: 1;
      }
      &:-ms-input-placeholder {
        color: rgb(41, 41, 41);
      }
    }

    .select_quiz-parameter {
      width: 350px;
      margin: 0;
      padding: 0;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
    }

    .button_quiz-start {
      width: 100px;
      margin: 0 auto;
      padding: 10px;
      background-color: goldenrod;
      border: 1px solid rgb(172, 130, 24);
      color: rgb(41, 41, 41);
      font-weight: bold;
      font-size: 16px;

      &:hover {
        background-color: rgb(172, 130, 24);
        border-color: goldenrod;
      }
    }
  }
}
