.component__show-question {
  display: flex;
  flex-direction: column;
  row-gap: 0;

  .question {
    margin-bottom: 8px;
    color: rgb(226, 178, 114);
  }

  .choices {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin: 0 auto;
  }
}
